{% extends 'base.html.twig' %}

{% block title %}New PaymentRequest{% endblock %}

{% block body %}
    <h1>Create new PaymentRequest</h1>

    {{ include('admin_payment_request/_form.html.twig') }}

    <a href="{{ path('admin_payment_request_index') }}">back to list</a>
{% endblock %}
