{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>
<div class="container">

    {{ include('admin_category/_form.html.twig') }}

</div>

    <a class="btn btn-light" href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
